github "sindresorhus/LaunchAtLogin"
github "sindresorhus/Defaults"
github "sindresorhus/Preferences"
github "shpakovski/MASShortcut"
github "sparkle-project/Sparkle"
binary "https://building42.github.io/Specs/Carthage/macOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/macOS/Fabric.json"
