<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Archive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Dozer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DozerTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DozerTests_macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A2128E721789A7C004899BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A2129312178B3ED004899BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A71DA79212898C000BC4079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NT_451128543023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NT_479945837573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
